<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
        <p class="navbar-text navbar-right">Email any questions or feedback to admin@schoolbell.us</p>
  </div>
</nav>
        </div>
    </body>
</html>