<!DOCTYPE html>
<html>
    <head>
        <title>Students</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="/scripts/setRole.js"></script>        
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/login">login</a>
                <a class="navbar-brand role_wa" href="/schools/uploadSchools">Upload Schools</a>
                <a class="navbar-brand role_wa" href="/users/uploadUsers">Upload Users</a>                  
                <a class="navbar-brand role_al role_wa" href="/users">Users</a>                
                <a class="navbar-brand role_sc role_al role_wa" href="/events">Events</a>
                <% if(currentUser){ %>
                    <a class="navbar-brand role_sc" href="/students">Students</a>
                <% } %>      
                <a class="navbar-brand role_al" href="/students">Students</a>        
                <a class="navbar-brand role_al role_wa" href="/schools">Schools</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(currentUser){ %>
                        <li><a href="#">Signed In As <%= currentUser.name %></a></li>
                        <li><a href="/logout">Logout</a></li>
                        <span class="hidden" id="userRole"><%= currentUser.role %></span>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/requestpwreset">Register</a></li>                    
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
       <% if(error && error.length > 0) { %>
         <div class="alert alert-danger"><p><%=error %></p></div>
       <% } %>
       
       <% if(success && success.length > 0) { %>
         <div class="alert alert-success"><p><%= success %></p></div>
       <% } %>
    </div>
    <div class="container">
       
