<% include ../partials/header %>

<%
function toStr2(x) {
    var s = x.toString();
    if (s.length < 2) {
        return "0" + s;
    }
    else {
        return s;
    }
}
%>

<h1>Days in  <%= new Date().getFullYear() %></h1>

<div class="container">
    <table class="dayList">
        <tbody>
            <tr>
                <td class="dayList" style="background-color: #dff0d8;">Next Available Day &nbsp;</td>
                <td>
                    <a href="/days/nextAvail" class="btn btn-xs btn-primary role_al role_wa role_sc">Schedule</a>
                </td>
            </tr>
            <% global.days.forEach(function(day){ %>
                <tr>
                    <% var d=day.date; %>
                    <td class="dayList"> <%= d.toLocaleDateString("en-US", {weekday: 'short', year: '2-digit', month: '2-digit', day: 'numeric'}) %> &nbsp;</td>
                    <td>
                        <form style="display: inline">
                            <a href="/students/<%=d.getFullYear() + "-" + toStr2(d.getMonth()+1) + "-" + toStr2(d.getDate())%>" class="btn btn-xs btn-primary">Students</a>
                            <a href="/days/<%=day._id%>" class="btn btn-xs btn-primary">Schedule</a>
                        </form>
                    </td>
                </tr>
            <% }); %>
       </tbody>
    </table>
</div>

<% include ../partials/footer %>
