<% include partials/header %>
	<link rel="stylesheet" href="stylesheets/landing.css">
	<a href="https://www.assistanceleague.org/colorado-springs/"><img src="stylesheets/alLogo.png"></a>
<% include partials/footer %>