<% include partials/header %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Operation School Bell</h1>
 				<h3>Scheduling app</h3>
 				<hr>
 			</div>
 		</div>
 	</div>
 </div>
 
<% include partials/footer %>