<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <h4 style="text-align: center">Your Username is the email address provided to the Assistance League.</h4>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/login" method="post">
                <div class="form-group">
                    <h4>Username:</h4>
                    <input class="form-control" type="text" name="username" placeholder="email address">
                    <h4>Password:</h4>
                    <input class="form-control" type="password" name="password" placeholder="password">
                <p></p>
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <a href="/requestpwreset">Go to Register or Reset Password</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>