<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 40%; margin: 25px auto;">
            <form action="/login" method="post">
                <div class="form-group">
                    <h4>Username:</h4>
                    <input class="form-control" type="text" name="username" aria-describedby="helpUname">
                    <h4 style="margin-top: 25px;">Password:</h4>
                    <input class="form-control" type="password" name="password">
                    <p></p>
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <p><strong>You must register your Username before you can login.</strong></p>
            <a href="/requestpwreset">Go to Register or Reset Password</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>