<% include ./partials/header %>

<div id="osbInfo"></div>

<%- osbInfo %>

<% if(currentUser.role != 'role_sc'){ %>
  <a class="btn btn-primary" href="/editOsbInfo">Edit OSB Info</a>
  <% } %>
   
<% include ./partials/footer %>