<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Register</h1>
        <h4 style="text-align: center">Your username will be the email address you provided to the Assistance League</h4>
        <h4 style="text-align: center">Please create a password.</h4>        
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="email address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/">Cancel</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>
