<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center">Reset Username/Password -- Authorization</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/requestpwreset" method="post">
                <div class="form-group">
                    <h4>School Code:</h4>
                    <input class="form-control" type="text" name="schoolCode" aria-describedby="helpschoolCode">
                    <span id="helpschoolCode" class="help-block">Enter the School Code assigned by the Assistance League. Please contact the Assistance League if you don't know the School Code for your school.</span>
                    <h4>Email address:</h4>
                    <input class="form-control" type="email" name="email" aria-describedby="helpEmail">
                    <span id="helpEmail" class="help-block">Enter the email address you are using with Operation School Bell. Please contact the Assistance League if you have trouble setting a username/password.</span>
                    <p></p>
                    <button style="margin-top: 30px;" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>
