<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center">Create Password</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/requestpwreset" method="post">
                <div class="form-group">
                    <h4>Username:</h4>
                    <input class="form-control" type="text" name="username" aria-describedby="helpUname">
                    <span id="helpUname" class="help-block">If you support a single school, your Username is the email address provided to the Assistance League. If you support multiple schools, you have a separate Username for each school you support. Username may be an email address followed by a suffix that indicates a school. Please contact the Assistance League if you have questions about your username(s).</span>
                    <p></p>
                    <button style="margin-top: 30px;" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>

