<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center">Create New Password</h1>
        <h3 style="text-align: center">for username <span style="color:blue;"></spanstyle><%= user.username %></span></h2>
        <h4 style="text-align: center">Please enter new password twice.</h4>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/resetpw/<%=user.resetPasswordToken%>" method="post">
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="new password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm" placeholder="confirm password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Save new password</button>
                </div>
            </form>
            <a href="/login">Cancel</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>
