<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center">Create or Change Username and/or Password</h1>
        <% if (school) {%>
            <h3 style="text-align: center">for school <span style="color:blue;"></spanstyle><%= school %></span></h2>
            <% } %>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/resetpw/<%=username%>" method="post">
                <h4>Username</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" value="<%= username %>">
                </div>
                <p></p>
                <h4 style="text-align: center">Please enter new password twice.</h4>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="new password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm" placeholder="confirm password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Save new username/password</button>
                </div>
            </form>
            <a href="/login">Cancel</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>
