<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center">Set Username/Password</h1>
        <% if (school) {%>
            <h3 style="text-align: center">for <span style="color:blue;"></spanstyle><%= school %></span></h2>
            <% } %>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/resetpw" method="post">
                <div class="form-group">
                    <h4>Username:</h4>
                    <input class="form-control" type="text" name="newUsername" value="<%= username %>">
                    <p>Username must be unique so if you change it, make up something other people would be unlikely to use.</p>
                    <p>Your default username is your email address ... unless you support multiple schools using the same email address ... in which case school code is appended to create a unique username for each school.</p>
                 </div>
                <h4>Please enter new password:</h4>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="new password">
                </div>
                <h4>Please enter new password again:</h4>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm" placeholder="confirm password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Save new username/password</button>
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" name="username" value="<%= username %>">
                </div>   
                <div class="form-group">
                    <input class="form-control" type="hidden" name="schoolCode" value="<%= schoolCode %>">
                </div>                                   
            </form>
            <a href="/login">Cancel</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>
