<% include ../partials/header %>

    <header>
        <h1>
            <span>User Updates</span>
        </h1>
    </header>
    <table id="userTable" class="table">
        <thead>
            <tr>
                <th>Update Date</th>
            </tr>
        </thead>
        <tbody>
            <% updates.forEach(function(update){ %>
                <tr>
                    <td><%= update.updateDate %></td>
                    <td>
                        <a href="/userUpdates/<%=update._id%>/view" class="btn btn-xs btn-info">View</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

<% include ../partials/footer %>
