<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New School</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/schools" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="school name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="quota" placeholder="student quota">
                </div>
                    <button type=submit class="btn btn-lg btn-primary btn-block">Submit</button>
                <a href="/schools">Cancel</a>
            </form>
        </div>
    </div>
<% include ../partials/footer %>
