<% include ../partials/header %>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Upload Schools</h1>
            <p>Upload schools will create new schools and update the quota and district of
            existing schools, as needed, to make the database match the spreadsheet. It
            will not delete schools nor update school names.</p>

            <div id="dvImportSegments" class="fileupload ">
                <fieldset>
                    <legend>Select the .csv File exported from the OSB Data spreadsheet:</legend>
                    <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />
                </fieldset>
            </div>
            <p></p>
            <p></p>
            <a href="/schools" class="btn btn-md btn-primary">Cancel</a>
        </div>
    </div>

    <form action="/schools/createSchools" method="POST">
        <div class="form-group">
            <input type="hidden" id="csvString" name="schoolsString">
            <button type=submit class="btn btn-lg btn-primary hidden">Update the database!</button>
        </div>
        <table id="csvTable" name="schools"></table>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.min.js"></script>
    <script src="/scripts/uploadCSV.js"></script>
    <script>
        $(document).ready(function() {
        // The event listener for the file upload
        console.log("setting file upload listener");
        document.getElementById('txtFileUpload').addEventListener('change', getData, false);
        });
    </script>
<% include ../partials/footer %>
