    body {
        background: url("schoolKids.jpg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    body,
    html {
        width: 100%;
        height: 100%;
    }
    
    img {
        width: 10%;
        height: auto;
    }
    