    body {
        background: url("schoolKids.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    body,
    html {
        width: 100%;
        height: 100%;
        color: white;
    }
    
    h1 {
        font-weight: 500;
        font-size: 4em;
    }
    
    .content {
        text-align: center;
        position: absolute;
        top: 85%;
        left: 35%;
    }
    