.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.solidborder {
    border-style: solid;
    border-width: 1px;
}

.addRemBtn {
    color: red;
    font-size: 1em;
    /*position: relative;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*top: 0;*/
    /*right: 0;*/
}