.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


/*.daylist {*/


/*    border: none;*/


/*}*/


/*table, th, td {*/


/*    border: 1px solid black;*/


/*    border-collapse: collapse;*/


/*}*/


/*td {*/


/*    padding: 2px;*/


/*}*/

.solidborder {
    border-style: solid;
    border-width: 1px;
    /*border-right: none;*/
    /*border-bottom: none;*/
}

.addStudBtn {
    color: black;
    font-size: 1em;
    padding: 2px 10px;
    float: right;
}

.remStudBtn {
    color: red;
    font-size: 1em;
    padding: 2px 15px;
    border-width: 1px;
    border-color: red;
}

.role_sc,
.role_al,
.role_wa {
    display: none;
}

.schedStud {
    /*height: 25px;*/
    padding: 2px 10px;
}

.unschedStud {
    /*height: 30px;*/
    /*padding: 5px 15px;*/
    padding: 5px 10px;
}
