.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.solidborder {
    border-style: solid;
    border-width: 1px;
    /*border-right: none;*/
    /*border-bottom: none;*/
}

.addStudBtn {
    color: red;
    font-size: 1em;
    float: right;
}

.remStudBtn {
    color: red;
    font-size: 1em;
}